@page "/benefits"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Benefits</PageTitle>

<h1>Benefits</h1>

<a class="btn btn-primary" href="createhardskill">
    <i class="oi oi-pencil"></i> Inserisci
</a>

    @if (benefits== null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Benefit</th>
                <th>Attiva</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in benefits)
            {
                <tr>
                    <td>@b.Descrizione</td>
                    @if (b.Attivo == true)
                    {
                        <td>Sì</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>
                        <a class="btn btn-info" href="edithardskill/@b.BenefitId">
                            <i class="oi oi-pencil"></i> Modifica
                        </a> 
                        <a class="btn btn-danger" href="deletehardskill/@b.BenefitId">
                            <i class="oi oi-trash"></i> Elimina
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Benefit>? benefits;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            benefits = await Http.GetFromJsonAsync<List<Benefit>>($"api/Benefits/{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
