@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Hard SKills</PageTitle>

<h1>Hard Skills</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (hardskills == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Skill</th>
                <th>IsActive</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var hardskill in hardskills)
            {
                <tr>
                    <td>@hardskill.Descrizione</td>
                    <td>@hardskill.Attivo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<HardSkill>? hardskills;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            hardskills = await Http.GetFromJsonAsync<List<HardSkill>>("api/HardSkills");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
