@page "/livellicontratto"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Livelli Contrattuali</PageTitle>

<h1>Hard Skills</h1>

<a class="btn btn-primary" href="createtitolostudio">
    <i class="oi oi-pencil"></i> Inserisci
</a>

    @if (livelli == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Attiva</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in livelli)
            {
                <tr>
                    <td>@l.Descrizione</td>
                    @if (l.Attivo == true)
                    {
                        <td>Sì</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>
                        <a class="btn btn-info" href="editlivellicontrattol/@l.LivelloContrattoId">
                            <i class="oi oi-pencil"></i> Modifica
                        </a>
                        <a class="btn btn-danger" href="deletelivellicontratto/@l.LivelloContrattoId">
                            <i class="oi oi-trash"></i> Elimina
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<LivelloContrattuale>? livelli;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            livelli = await Http.GetFromJsonAsync<List<LivelloContrattuale>>($"api/LivelliContrattuali/{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
