@page "/softskills"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Soft Skills</PageTitle>

<h1>Soft Skills</h1>

<a class="btn btn-primary" href="createhardskill">
    <i class="oi oi-pencil"></i> Inserisci
</a>

    @if (skills == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Attiva</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in skills)
            {
                <tr>
                    <td>@s.Descrizione</td>
                    @if (s.Attivo == true)
                    {
                        <td>Sì</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>
                        <a class="btn btn-info" href="editsoftskll/@s.SoftSkillId">
                            <i class="oi oi-pencil"></i> Modifica
                        </a> 
                        <a class="btn btn-danger" href="deletesoftskill/@s.SoftSkillId">
                            <i class="oi oi-trash"></i> Elimina
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<SoftSkill>? skills;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            skills = await Http.GetFromJsonAsync<List<SoftSkill>>($"api/SoftSkills/{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
