@page "/tipologiecolloquio"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Tipologie di Colloquio</PageTitle>

<h1>Tipologie di Colloquio</h1>

<a class="btn btn-primary" href="createhardskill">
    <i class="oi oi-pencil"></i> Inserisci
</a>

    @if (tipiColloquio == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tipo di Colloquio</th>
                <th>Attiva</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in tipiColloquio)
            {
                <tr>
                    <td>@t.Descrizione</td>
                    @if (t.Attivo == true)
                    {
                        <td>Sì</td>
                    }
                    else
                    {
                        <td>No</td>
                    } 
                    <td>
                        <a class="btn btn-info" href="edithardskill/@t.TipoColloquioId">
                            <i class="oi oi-pencil"></i> Modifica
                        </a>
                        <a class="btn btn-danger" href="deletehardskill/@t.TipoColloquioId">
                            <i class="oi oi-trash"></i> Elimina
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<TipologiaColloquio>? tipiColloquio;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tipiColloquio = await Http.GetFromJsonAsync<List<TipologiaColloquio>>($"api/TipologieColloqui/{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
