@page "/tipologiedocumenti"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Tipologie Documenti</PageTitle>

<h1>Tipologie Documenti</h1>

<a class="btn btn-primary" href="createtitolostudio">
    <i class="oi oi-pencil"></i> Inserisci
</a>

    @if (documenti == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Skill</th>
                <th>Attiva</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in documenti)
            {
                <tr>
                    <td>@d.Descrizione</td>
                    @if (d.Attivo == true)
                    {
                        <td>Sì</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    <td>
                        <a class="btn btn-info" href="edittipologiedocumenti/@d.TipoDocumentoId">
                            <i class="oi oi-pencil"></i> Modifica
                        </a>
                        <a class="btn btn-danger" href="deletetipologiedocumenti/@d.TipoDocumentoId">
                            <i class="oi oi-trash"></i> Elimina
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<TipologiaDocumento>? documenti;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            documenti = await Http.GetFromJsonAsync<List<TipologiaDocumento>>($"api/TipologiaDocumenti/{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
