@page "/tipologiecontratto"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using HRManagement.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Tipologie di Contratto</PageTitle>

<h1>Tipologie di Contratto</h1>

<a class="btn btn-primary" href="createhardskill">
    <i class="oi oi-pencil"></i> Inserisci
</a>

    @if (tipiContratto == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Tipo di Colloquio</th>
                <th>Attiva</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in tipiContratto)
            {
                <tr>
                    <td>@t.Descrizione</td>
                    @if (t.Attivo == true)
                    {
                        <td>Sì</td>
                    }
                    else
                    {
                        <td>No</td>
                    } 
                    <td>
                        <a class="btn btn-info" href="edithardskill/@t.TipoContrattoId">
                            <i class="oi oi-pencil"></i> Modifica
                        </a>
                        <a class="btn btn-danger" href="deletehardskill/@t.TipoContrattoId">
                            <i class="oi oi-trash"></i> Elimina
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<TipologiaContratto>? tipiContratto;
    private int? idRicerca;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tipiContratto= await Http.GetFromJsonAsync<List<TipologiaContratto>>($"api/TipologieContratti{idRicerca}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
