<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HR Manager 0.1a</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="visualizza/sedi">
                    <span class="oi oi-basket" aria-hidden="true"></span>Sedi
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="visualizza/candidati">
                    <span class="oi oi-person" aria-hidden="true"></span>Candidati
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="visualizza/colloqui">
                    <span class="oi oi-laptop" aria-hidden="true"></span>Colloqui
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" @onclick="() => expandSubMenu = !expandSubMenu">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Anagrafiche
                </NavLink>
            </div>
            @if (expandSubMenu)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/hardskills">
                        <span class="oi oi-terminal" aria-hidden="true"></span>Hard-Skills
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/softskills">
                        <span class="oi oi-random" aria-hidden="true"></span>Soft-Skills
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/titolistudio">
                        <span class="oi oi-book" aria-hidden="true"></span>Titoli di Studio
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/tipologiecolloqui">
                        <span class="oi oi-briefcase" aria-hidden="true"></span>Tipologie di Colloquio
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/tipologiecontratti">
                        <span class="oi oi-document" aria-hidden="true"></span>Tipologie di Contratto
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/livellicontratti">
                        <span class="oi oi-envelope-closed" aria-hidden="true"></span>Livelli Contrattuali
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/tipologiedocumenti">
                        <span class="oi oi-document" aria-hidden="true"></span>Tipologie Documenti
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/mansioni">
                        <span class="oi oi-layers" aria-hidden="true"></span>Mansioni
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="visualizza/benefits">
                        <span class="oi oi-credit-card" aria-hidden="true"></span>Benefits
                    </NavLink>
                </div>
            }
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool expandSubMenu;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
