<div class="alert alert-@ColorTheme d-flex align-items-center @(IsDismissable ? " alert-dismissible fade show" : "")" role="alert">
    <div>
        <h4 class="alert-heading"><i class="@Icon"></i> @Title</h4>
        @Message
        @if (IsDismissable)
        {
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        }
    </div>
</div>
@code {
    [Parameter]
    public bool IsDismissable { get; set; } = true;
    [Parameter]
    public string ColorTheme { get; set; } = "primary";
    [Parameter]
    public string Icon { get; set; } = "bi-info-circle-fill";
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Message { get; set; }
}
